.bg-selected {
  background: #c6d8ff;
}

.bg-selected2 {
  background: #c6d8ff;
}

.bg-selectedlite {
  background: #f1f6ff;
}

.bg-highlight1 {
  background: #f8f9fa;
}

.bg-highlight2 {
  background: inherit;
}

.btn-outline-selected {
  color: #c6d8ff;
  border-color: #c6d8ff;
}

.btn-outline-selected:hover {
  color: black;
  background-color: #c6d8ff;
  border-color: #c6d8ff;
}

.calbutton:hover {
  color: black;
  background-color: #c6d8ff;
  border-color: #c6d8ff;
}

.alert-selected {
  color: #2067ff;
  background-color: #f1f6ff;
  border-color: #c6d8ff;
}

.dropdown-item-unclickable {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.ticklink {
  color: black;
  text-decoration: none;
}
.ticklink:hover {
  color: inherit;
}

.ticklink2 {
  color: inherit;
  text-decoration: none;
}

.ticklink2:hover {
  color: inherit;
}

.allEntries tbody td {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.centerbox {
  margin-top: 10%;
  margin-left: 55%;
  margin-right: 15%;
  min-width: 386px;
}

main {
  font-size: 0.8rem;
}

.backButton {
  font-size: 2rem;
  padding: 0 0;
}
.backbtn {
  font-size: 2rem;
  margin: 0 0;
  padding: 0 10px;
}

svg {
  fill: #d1d1d1;
  height: 50px;
  opacity: 0.5;
}

@media (max-width: 1120px) {
  #mapEntriesDiv {
    display: none;
  }

  #allEntriesDiv {
    border-left: none !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 775px) {
  .extra {
    display: none;
  }
}
