<% layout('commons/boilerplate')%>

<!-- I've decided not to make a login feature :/ -->
<div class="centerbox border shadow rounded-3 p-3">
    <h3 class="text-center">Log in</h3>

    <form class="border-bottom pb-3" action="/login" method="post" novalidate class="validated-form">

        <div class="form-group mb-3">
            <label class="mb-2 ps-1" for="username">User Name</label>
            <input type="text" class="form-control py-2 " id="username" name="username" placeholder="Username" required>
        </div>

        <div class="form-group mb-3">
            <label class="mb-2 ps-1" for="password">Password</label>
            <input type="password" class="form-control py-2" id="password" name="password" placeholder="Password"
                required>
        </div>
        <button type="submit" class="btn bg-selected col-12">Submit</button>
    </form>

    <div class="text-center mt-3">
        <a class="btn btn-secondary px-4" href="">Register</a>
    </div>

</div>