<footer class="footer py-1 bg-dark mt-auto">
    <div class="container-fluid text-center">
        <span class="text-muted d-block"> <small> Clifford Chan &copy 2021 </small></span>
    </div>


</footer>